#lazybuilder-panel #building_control {
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}

#lazybuilder-panel #buildings,
#lazybuilder-panel #building_info {
	float: left;
	padding-top: 10px;
}

#lazybuilder-panel #buildings {
	width: 15%;
}

#lazybuilder-panel .doing_separator {
	border-top: solid 3px #eeeeee;
	text-align: center;
	font-size: smaller;
}

/* =================================================
// 
================================================= */
#lazybuilder-panel #building_info {
	width: 83%;
	padding-left: 1%;
}

#lazybuilder-panel #base {
	margin-bottom: 30px;
}

#lazybuilder-panel #details {
	clear: both;
	padding: 15px 20px;
	border: 1px solid #aaa;
	border-radius: 3px;
}

#lazybuilder-panel #building_info h4 {
	clear: both;
}

#lazybuilder-panel #modified {
	clear: both;
}

#lazybuilder-panel #modified h4 {
	margin-top: 20px;
	padding-left: 5px;
	border-left: 5px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#lazybuilder-panel #modified ul li {
	font-family: 'Migu 2M', 'Source Code Pro', 'consolas', 'Courier', 'Courier New';
}

#lazybuilder-panel .tab {
	padding: 8px 10px;
	font-size: 120%;
	padding-bottom: 1px;
	background: #f5f5f5;
	text-decoration: none;
	border: 1px solid #ccc;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#lazybuilder-panel .tab.active {
	background: #fff;
	border: 1px solid #aaa;
	border-bottom: 2px solid #fff;
	z-index: 10;
}

#lazybuilder-panel .active,
#lazybuilder-panel .active a {
	text-decoration: none;
	font-weight: bold;
	color: #333;
	cursor: default;	
}

#lazybuilder-panel .active:hover,
#lazybuilder-panel .active a:hover {
	color: #333;
}

#lazybuilder-panel span.add,
#lazybuilder-panel span.modify,
#lazybuilder-panel span.remove {
	padding: 1px 8px;
	margin-right: 10px;
	border-radius: 10px;
	font-weight: bold;
	box-shadow: 0 0 3px 1px #ddd;
	font-family: 'Migu 2M', 'Source Code Pro', 'consolas', 'Courier', 'Courier New';
}

#lazybuilder-panel span.add {
	background: #cfc;
	color: #353;
}

#lazybuilder-panel span.modify {
	background: #ccf;
	color: #338;
}

#lazybuilder-panel span.remove {
	background: #fcc;
	color: #833;
}